

#weatherDataForm {
    margin-top: 50px;
}

#city {
    padding: 15px 32px;
}

#submitButton {
    background-color: #1A4740; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin-left: 10px;

}

.container-fluid {
    background-image: url(./images/weather.jpg)
}
.list-group-item {
    margin: auto;
    width: 60vw;
    padding: 20px;
}
